#module-allinone_rewards-rewards #content, #module-allinone_rewards-sponsorship #content {
	box-shadow: 2px 2px 11px 0 rgba(0,0,0,.1);
    background: #fff;
    padding: 1rem;
    font-size: .875rem;
    color: #878787;
}

.rewards .form-footer button {
	display: block;
	margin: 0 auto;
}

.rewards table th {
	text-transform: uppercase;
}

/***************/
/* Sponsorship */
/***************/
.rewards .block_hidden_only_for_screen {
	display: none !important;
}

.rewards {
	overflow: auto;
	font-size: .875rem;
	color: #878787;
}

.rewards label {
	color: #878787;
}

.rewards div.sheets {
	padding: 15px 15px 15px 15px;
	border: solid 1px #DDDDDD;
	clear: both;
}

.rewards .idTabs {
	display: flex;
	margin-bottom: 0;
	list-style-type: none;
}

@media (max-width: 575.98px) {
	.rewards .idTabs {
		display: block;
	}
}

.rewards .idTabs li {
	padding-left: 0;
	text-align: center;
	padding-right: 1px;
	margin-right: 0;
	margin-bottom: -1px;
    display: flex;
}

.rewards .idTabs a {
	width: 100%;
	padding: 8px 0;
	background-color: #f6f6f6;
	border: solid 1px #DDDDDD;
	border-radius: 2px 2px 0 0;
	color: #878787;
	text-transform: uppercase;
}

.rewards .idTabs .selected {
	background-color: #FFFFFF;
	background-image: none;
	border-bottom: 1px solid #ffffff;
	text-decoration: none;
}

#sponsorship_text {
	padding-bottom: 20px;
}

#sponsorship_form ul {
	padding-left: 25px !important;
}

#sponsorship_form li {
	padding-top: 10px;
	list-style-type: disc;
}

#sponsorship_form li img {
	height: 20px;
}

#sponsorship_form .checkbox label {
	display: inline !important;
}

.rewards .table-bordered {
	margin-top: 15px;
}

#idTab4 div.title {
	font-weight: bold;
	text-transform: uppercase;
	padding-top: 20px;
}

#idTab4 div.title:first-child {
	padding-top: 0;
}

#idTab4 tr.total, #idTab4 td.total {
	font-weight: bold;
	background-color: #f6f6f6;
	color: #acaaa6;
}

/*********************/
/* Sponsorship Popup */
/*********************/
.sponsorshipPopup {
	width: auto;
	max-width: 700px;
	text-align: left;
}

/*******************/
/* Rewards account */
/*******************/
.rewards h2 {
	margin: 50px 0 0 0;
	font-size: 1rem;
	text-transform: uppercase;
}

.rewards input[type=radio] {
	margin-left: 10px;
	margin-right: 2px;
}

.rewards #aior_buttons {
	text-align: center;
}

.rewards div#transform, .rewards div#payment, .rewards div#gift_list {
	margin: 30px auto 0;
    text-align: center;
    display: block;
}

.rewards div#transform a, .rewards div#payment a, .rewards div#gift_list a {
    font-size: .800rem;
    white-space: unset;
}

.rewards div#transform:not(.free_value) a, .rewards div#payment a, .rewards div#gift_list a {
	width: 100%;
}

.rewards div#transform.free_value {
    width: 100%;
}

.rewards div#transform.free_value input {
    width: 150px;
    display: inline-block;
    margin-top: 10px;
    text-align: right;
    margin-right: 5px;
}

.rewards div#transform.free_value select {
    width: auto;
    display: inline-block;
    text-align: right;
    vertical-align: middle;
}

.rewards div#transform.free_value a {
    margin-top: 10px;
    margin-bottom: 10px;
    vertical-align: baseline;
}

@media (min-width: 768px) {
	.rewards div#transform.free_value {
		width: 550px;
		max-width: 100%;
	}

	.rewards div#transform:not(.free_value) a, .rewards div#payment a, .rewards div#gift_list a {
		width: 550px;
		max-width: 100%;
		padding-left: 0;
		padding-right: 0;
	}

	.rewards div#transform.free_value a {
	    margin-left: 20px;
	}
}

.rewards #payment_form {
	margin-top: 20px;
	text-align: left;
}

.rewards #payment_form fieldset {
	padding: 10px;
    border: 1px solid #f6f6f6;
    margin: 0;
}

.rewards #payment_form #payment_txt {
	margin-bottom: 20px;
}

.rewards #payment_form p {
    margin: 0;
    padding: 0 0 10px;
}

.rewards #payment_form p label {
    display: inline-block;
    width: 25%;
    vertical-align: top;
}

.rewards #payment_form p.textarea textarea {
    width: 74%;
    display: inline-block;
}

.rewards #payment_form label {
	text-align: left;
}

.rewards #payment_form .btn {
	margin: 20px auto 0;
	display: block;
	font-size: .800rem;
}

.rewards #payment_form .invoice {
    position: relative;
    background: #ebebeb;
    height: 2.05rem;
    line-height: 2.05rem;
    text-indent: .625rem;
    display: inline-block;
    color: #acaaa6;
    width: 100%;
}

.rewards #payment_form .file-input {
    width: 100%;
    opacity: 0;
    left: 0;
    z-index: 1;
    height: 2.625rem;
    overflow: hidden;
    position: absolute;
    cursor: pointer;
}

.rewards #payment_form div.invoice .btn {
	position: absolute;
	right: 0;
	top: 0;
	margin: 0;
}

.rewards #payment_form .form-control-label {
	padding-top: .400rem;
}

/***********/
/* product */
/***********/
#product #aior_product_button {
	display: none;
	margin-top: 1.5rem;
}

#product #loyalty {
	margin-top: 1.5rem;
}

#product #sponsorship_link {
	margin-top: 1.5rem;
}

#sponsorship_product {
	margin-top: 10px;
	margin-bottom: 10px;
}

#product #aior_product_button span {
	display: none;
}

.aior_unvisible {
	display: none !important;
}

.aior_fancyconfirm .aior_fancyconfirm_title {
	font-weight: bold;
}

.aior_fancyconfirm .aior_fancyconfirm_button {
	padding-top: 20px;
	text-align: right;
}

.aior_fancyalert {
	text-align: center;
}

.aior_fancyalert a, .aior_fancyalert button {
	display: block;
	width: 100%;
}

/****************/
/* product list */
/****************/
span#aior_add_to_cart_available_display, span#aior_add_to_cart_available_real {
	display: none;
}

/********/
/* cart */
/********/
#cart #reward_loyalty, #cart #reward_use {
	margin-top: 15px;
	font-size: .875rem;
}

#cart #reward_loyalty span {
	font-size: .675rem;
}

.sponsorship-promo-code {
	border-color: #d0e9c6 !important;
	background-color: #dff0d8 !important;
	color: #3c763d !important;
}

.sponsorship-promo-code::after {
	border-bottom-color: #dff0d8 !important;
}


/***********/
/* message */
/***********/
.reward_alert_message {
	border: solid 1px #bcdff1;
	padding: .75rem 1.25rem;
	margin-bottom: 1rem;
	color: #31708f;
	background-color: #d9edf7;
	text-align: left;
}

/**************/
/* responsive */
/**************/
@media (max-width: 767.98px) {
	.rewards h2 {
		font-size: 0.9rem;
	}
	.rewards .table {
  		border: none;
  	}
  	.rewards .table thead {
  		display: none;
  	}
	.rewards .table tr{
		display: block;
	}
	.rewards .table tr:not(:first-child) {
		margin-top: 30px;
	}
	.rewards .table td {
		display: block;
		text-align: right !important;
		min-height: 45px;
		overflow: auto;
	}
	.rewards .table td:not(:last-child) {
		border-bottom: none;
	}
	.rewards .table td:before {
		content: attr(data-label);
		float: left;
		max-width: 65%;
		text-align: left;
	}
	.rewards .table td:first-child {
		background: #f6f6f6;
	}
	.rewards .table td:first-child:before {
		font-weight: bold;
	}
	.rewards #transform input, .rewards #transform select {
		background-color: #ffffff;
		width: 100px !important;
	}
	.rewards #transform .table td {
		text-align: center !important;
	}
	.rewards #transform .table td:first-child::before {
		width: 100%;
		max-width: 100%;
		text-align: center;
	}
	#rewards_account #idTab2 .table td:first-child {
		text-align: left !important;
		font-weight: bold;
	}

	#rewards_sponsorship #idTab1 td:first-child, #rewards_sponsorship #idTab3 td:first-child {
		text-align: left !important;
		font-weight: bold;
	}

	#rewards_sponsorship #idTab4 div:nth-child(2) tr:first-child td:first-child {
		font-weight: bold;
		text-align: left !important;
		background: none;
		border: none;
		padding-left: 0;
		text-transform: uppercase;
	}

	#rewards_sponsorship #idTab4 div:nth-child(2) tr:first-child td:nth-child(2) {
		background-color: #f6f6f6;
	}

	#rewards_sponsorship #idTab4 div:nth-child(2) tr:first-child td:nth-child(2):before {
		font-weight: bold;
	}
}