*.xml
!config.xml
translations/*
!translations/index.php
!translations/en.php
!translations/fr.php
!translations/es.php
!translations/it.php
!translations/de.php
!translations/pl.php
!translations/pt.php
!translations/cs.php
!translations/nl.php
!translations/ru.php
.bashrc
.bash_profile
.bash_history
.bash_logout
.git-credentials
.idea/*
.DS_Store
views/js/script_custom.js
install.log
cache/install.log